node_modules
package-lock.json

# client
client/dist
client/node_modules
client/package-lock.json
client/.env

# server
server/build
server/node_modules
server/package-lock.json
server/.env

# production
production
